@import url("https://fonts.googleapis.com/css?family=Epilogue:400,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap");

@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #091133;
}

h1 {
  line-height: 3;
}

h1 {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
footer {
  min-height: 100px;
  background-color: #893434d4;
  padding-top: 45px;
}
footer h3 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
}
header {
  margin-bottom: 100px;
}
.header-menu {
  text-align: center;
}
.header-menu__item {
  display: inline-block;
}
.header-menu__item--margin-right:not(:last-child) {
  margin-right: 15px;
}
.header-menu__item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}
.sticky-nav {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-end: 0px;
  width: 120px;
  background-color: #c5e700;
  z-index: 3;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  margin-right: -80px;
  transition: margin-right 0.5s ease-in-out;
}
.sticky-nav__title {
  writing-mode: sideways-lr;
  padding-inline: 15px;
  padding-block-start: 5px;
}
.sticky-nav__list {
  display: none;
}
.sticky-nav:hover {
  margin-right: -10px;
  padding: 10px;
  font-size: 14px;
}
.sticky-nav:hover .sticky-nav__list {
  display: block;
}
.sticky-nav:hover .sticky-nav__title {
  display: none;
}
.sticky-nav__item--margin-bottom:not(:last-child) {
  margin-bottom: 10px;
}
.sticky-nav__item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}

/* HomeWork 1 START */
.homework1 {
  color: #ddd;
    background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.homework1__container {
  max-width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
  padding-block: 300px;
}
.homework1__link-author {
position: relative;
top: 320px;
  left: 1400px;

}
.homework1__link-author:hover{
    color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}
.homework1__trolleybus {
  opacity: 0.1;
  position: relative;
  width: 760px;
  height: 200px;
  transform: scale(2) translate(25%, 50%);
}
.trolleybus__body {
  position: absolute;
  top: 40px;
  left: 0;
  height: 140px;
  width: 100%;
  background-color: #c9c9d2;
  border-radius: 10% 10% 15% 15% / 300% 300% 100% 100%;
  overflow: hidden;
  box-shadow: 1px 3px 7px #000;
}
.body__center-line {
  position: absolute;
  top: 55%;
  left: 12.5%;
  background-color: #fff00a;
  width: 76%;
  height: 20%;
}
.body__center-line::before {
  content: "";
  position: absolute;
  top: 69%;
  left: -17%;
  background-color: #fff00a;
  width: 19%;
  height: 94%;
  transform: rotate(158deg);
}
.body__center-line::after {
  content: "";
  position: absolute;
  top: 69%;
  left: 98%;
  background-color: #fff00a;
  width: 19%;
  height: 94%;
  transform: rotate(22deg);
}
.body__driver-line {
  position: absolute;
  top: 56%;
  left: 2.5%;
  background-color: #b6b6cd;
  width: 4%;
  height: 5%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.body__driver-line::after {
  content: "";
  position: absolute;
  top: 170%;
  left: 0;
  background-color: #b6b6cd;
  width: 50%;
  height: 90%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.body__passenger-line {
  position: absolute;
  top: 41%;
  left: 23.5%;
  background-color: #b6b6cd;
  width: 7%;
  height: 3%;
}
.body__passenger-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 23.5%;
  background-color: #b6b6cd;
  width: 100%;
  height: 100%;
  transform: translate(110%, 0%);
}
.trolleybus__roof {
  position: absolute;
  top: 25px;
  left: 50%;
  height: 16px;
  width: 620px;
  transform: translateX(-50%);
}
.roof__top {
  position: absolute;
  top: -6%;
  left: 50%;
  height: 16px;
  width: 100%;
  background-color: #b4b8cd;
  border-radius: 15% 15% 0% 0% / 300% 300% 0% 0%;
  transform: translateX(-50%);
}
.roof__cover1 {
  position: absolute;
  top: -49%;
  left: 7%;
  width: 5%;
  height: 7px;
  background-color: #9998bd;
  border-radius: 100% 100% 0% 0% / 200% 200% 0% 0%;
}
.body__driver-line--margin-right {
  left: 94.5%;
  transform: rotateY(180deg);
}
.body__passenger-line--margin-right {
  left: 70.5%;
  transform: rotateY(180deg);
}
.roof__cover2 {
  position: absolute;
  top: -49%;
  left: 43%;
  width: 5%;
  height: 7px;
  background-color: #9998bd;
  border-radius: 100% 100% 0% 0% / 200% 200% 0% 0%;
}
.roof__cover3 {
  position: absolute;
  top: -49%;
  left: 53%;
  width: 5%;
  height: 7px;
  background-color: #9998bd;
  border-radius: 100% 100% 0% 0% / 200% 200% 0% 0%;
}
.roof__cover4 {
  position: absolute;
  top: -49%;
  left: 68%;
  width: 12%;
  height: 7px;
  background-color: #9998bd;
  transform: perspective(10px) rotateX(20deg);
}
.rails__rt-rail {
  position: absolute;
  top: -176%;
  left: 73%;
  width: 10%;
  height: 25%;
  background-color: #413946;
  transform: rotate(30deg);
}
.rails__lt-rail {
position: absolute;
  top: -171%;
  left: 64.8%;
  width: 10%;
  height: 25%;
  background-color: #413946;
  transform: rotate(148deg);
}
.rails__rb-rail {
  position: absolute;
  top: -70%;
  left: 79%;
  width: 3%;
  height: 25%;
  background-color: #413946;
  transform: rotate(155deg);
}
.rails__lb-rail {
position: absolute;
  top: -60%;
  left: 66%;
  width: 3%;
  height: 25%;
  background-color: #413946;
  transform: rotate(25deg);
}
.trolleybus__axis {
  position: absolute;
  bottom: 7%;
  left: 21.7%;
  width: 20.2%;
  height: 40px;
}
.trolleybus__cover-axis {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  height: 20%;
  background-color: #c9c9d2;
}
.wheel__cover {
  position: absolute;
  top: 0;
  left: 0;
}
.wheel__cover:before {
  content: "";
  position: absolute;
  top: 78%;
  left: -208%;
  width: 13px;
  height: 33px;
  background-color: #c9c9d2;
  transform: skew(-10deg) rotate(0deg) translate(63%, 0%);
  border-radius: 0% 0% 50% 0% / 0% 0% 50% 0;
}
.wheel__cover::after {
  content: "";
  position: absolute;
  top: 86%;
  left: 0%;
  width: 13px;
  height: 33px;
  background-color: #c9c9d2;
  border-radius: 0% 0% 50% 0% / 0% 0% 40% 0;
  overflow: hidden;
}
.trolleybus__overlay-axis {
  position: absolute;
  top: 13%;
  left: 5%;
  width: 140px;
  height: 25px;
  background-color: #2d232b;
  border-radius: 40% 40% 0% 0% / 250% 250% 20% 20%;
}
.trolleybus__overlay-axis::before {
  content: "";
  position: absolute;
  top: 36%;
  left: 50%;
  width: 100px;
  height: 20px;
  background-color: #4c4860;
  transform: translateX(-50%);
}
.trolleybus__overlay-axis::after {
  content: "";
  position: absolute;
  top: 65%;
  left: 31%;
  width: 50px;
  height: 11px;
  background-color: #9797bc;
  border-radius: 10px;
}
.trolleybus__wheel {
  position: absolute;
  top: 2%;
  left: 6%;
  width: 40px;
  height: 40px;
}
.wheel__large-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bbb7ce;
  border-radius: 50%;
}
.wheel__medium-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4a455f;
  border-radius: 50%;
  transform: scale(0.8);
}
.wheel__small-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #31262f;
  border-radius: 50%;
  transform: scale(0.4);
}

.wheel--margin-second {
  transform: translateX(235%);
}
.axis--margin-second {
  transform: translateX(186%);
}
.wheel__cover--margin-left {
  left: -23%;
}
.wheel__cover--margin-right {
  left: 125%;
  transform: rotateY(180deg);
}
.windows {
  position: relative;
  top: 24%;
  left: 2%;
  width: 48%;
  height: 33%;
}
.windows__driver-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 17%;
  height: 96%;
  background-color: #2f59c7;
  border-radius: 250% 110% 300% 100% / 150% 30% 150% 300%;
  overflow: hidden;
  transform: skew(-15deg) rotateZ(360deg);
  border: 2px solid #202020;
}
.windows__driver-window::before {
  content: "";
  position: absolute;
  top: 0;
  left: 66%;
  width: 8%;
  height: 96%;
  background-color: #193a7e;
}
.windows__driver-window::after {
  content: "";
  position: absolute;
  top: 9%;
  left: 81%;
  width: 8%;
  height: 37%;
  background-color: #193a7e;
  transform: rotate(90deg);
}
.windows__vertical-window {
  position: absolute;
  top: 0;
  left: 25%;
  width: 12%;
  height: 90%;
  background-color: #2f59c7;
  border-radius: 10%;
  overflow: hidden;
  border: 2px solid #202020;
}
.windows__vertical-window::before {
  content: "";
  position: absolute;
  top: 22%;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: #193a7e;
}
.windows__horizontal-window {
  position: absolute;
  top: 0;
  left: 43%;
  width: 12%;
  height: 90%;
  background-color: #2f59c7;
  border-radius: 10%;
  transform: rotate(90deg) translate(-16%, -18%);
  overflow: hidden;
  border: 2px solid #202020;
}
.windows__horizontal-window::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 31%;
  width: 8%;
  height: 100%;
  background-color: #193a7e;
}
.windows__horizontal-window::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 15%;
  width: 8%;
  height: 29%;
  background-color: #193a7e;
  transform: rotate(90deg);
}
.windows__horizontal-window--margin {
  transform: rotate(90deg) translate(-16%, -138%);
}
.windows__vertical-window--margin {
  transform: translate(513%);
}
.windows--margin-right {
  left: 51%;
  top: -9%;
  transform: rotateY(180deg);
}

.trolleybus__door {
  position: absolute;
  top: 20%;
  left: 12.2%;
  width: 9.5%;
  height: 70%;
  border-left: 6px solid #4f4663;
  border-right: 6px solid #4f4663;
}
.trolleybus__door--middle {
position: absolute;
  top: 20%;
  left: 42%;
  width: 17%;
  height: 70%;
  border-left: 6px solid #4f4663;
  border-right: 6px solid #4f4663;
}
.trolleybus__door--middle::after{
content: "";
  position: absolute;
  top: 0;
  left: 47%;
  width: 5%;
  height: 100%;
  background-color: #4f4663;
}
.trolleybus__door--margin-right {
  position: absolute;
  top: 20%;
  left: 79.5%;
  width: 9.5%;
  height: 70%;
  border-left: 6px solid #4f4663;
  border-right: 6px solid #4f4663;
}
