@import url("https://fonts.googleapis.com/css?family=Epilogue:400,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:500,600,700&display=swap");

@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #091133;
  overflow-x: hidden;
}

h1 {
  line-height: 3;
}

h1 {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
footer {
  min-height: 100px;
  background-color: #893434d4;
  padding-top: 45px;
}
footer h3 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
}
header {
  margin-bottom: 100px;
}
.header-menu {
  text-align: center;
}
.header-menu__item {
  display: inline-block;
}
.header-menu__item--margin-right:not(:last-child) {
  margin-right: 15px;
}
.header-menu__item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}
.sticky-nav {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-end: 0px;
  width: 120px;
  background-color: #c5e700;
  z-index: 3;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  margin-right: -80px;
  transition: margin-right 0.5s ease-in-out;
}
.sticky-nav__title {
  writing-mode: sideways-lr;
  padding-inline: 15px;
  padding-block-start: 5px;
}
.sticky-nav__list {
  display: none;
}
.sticky-nav:hover {
  margin-right: -10px;
  padding: 10px;
  font-size: 14px;
}
.sticky-nav:hover .sticky-nav__list {
  display: block;
}
.sticky-nav:hover .sticky-nav__title {
  display: none;
}
.sticky-nav__item--margin-bottom:not(:last-child) {
  margin-bottom: 10px;
}
.sticky-nav__item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}

/* HomeWork 1 START */
.homework {
  padding-top: 92px;
  padding-bottom: 176px;
  background-color: #1e1e1e;
  font-family: Manrope;
  overflow: hidden;
}
[class*="__container"] {
  max-width: 1630px;
  padding-inline: 15px;
  margin: 0 auto;

  @media (min-width: 1440px) {
    padding-inline: 80px;
    max-width: 1440px;
  }
  @media (min-width: 1920px) {
    padding-inline: 160px;
    max-width: 1920px;
  }
}
.must {
  margin-bottom: 40px;
}
.must__content {
  @media (min-width: 1220px) {
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (min-width: 1440px) {
    padding: 40px;
    border-radius: 12px;
    outline: 1px solid #262626;
    width: 100%;
    max-width: 1280px;
  }
  @media (min-width: 1920px) {
    padding: 50px;
    border-radius: 12px;
    outline: 1px solid #262626;
    width: 100%;
    max-width: 1600px;
  }
}
.must__header {
  margin-bottom: 20px;

  @media (min-width: 1156px) {
    flex-basis: 1156px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 1200px;
    flex-grow: 1;
    margin-bottom: 40px;
    gap: 100px;
  }
}
.header-must__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;

  @media (min-width: 1440px) {
    font-size: 30px;
  }
  @media (min-width: 1920px) {
    font-size: 38px;
  }
}
.header-must__nav {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    outline: 1px solid #1f1f1f;
    background: #0f0f0f;
  }
}
.nav-must__previous-button {
  padding: 22px;
  border-radius: 6px;
  outline: 1px solid #1f1f1f;
  background: #1a1a1a;
  background-image: url("../img/icons/arrow_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;

  transition: background 0.3s ease-in-out;
}
.nav-must__previous-button:hover {
  background: #575050;
  background-image: url("../img/icons/arrow_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  outline: 1px solid #1f1f1f;
}
.nav-must__selectors {
  display: flex;
  gap: 3px;
  height: 4px;
  max-width: 69px;
  width: 69px;
}
.nav-must__selector {
  max-width: 14px;
  width: 100%;

  border-radius: 100px;
  background: #333;
}
.nav-must__selector--active {
  max-width: 18px;
  background: #e50000;
}
.nav-must__next-button {
  padding: 22px;
  border-radius: 6px;
  outline: 1px solid #1f1f1f;
  background: #1a1a1a;
  background-image: url("../img/icons/arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;

  transition: background 0.3s ease-in-out;
}
.nav-must__next-button:hover {
  background: #575050;
  background-image: url("../img/icons/arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  outline: 1px solid #1f1f1f;
}
.must__cards {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;

  @media (min-width: 1220px) {
    justify-content: center;
    gap: 20px;
  }
}
.must__card {
  /* flex-basis: 231px;
  flex-grow: 1; */
  border-radius: 12px;
  padding: 12px;
  outline: 1px solid #262626;
  background: #1a1a1a;

  @media (min-width: 1176px) {
    padding: 16px;
  }
  @media (min-width: 1920px) {
    padding: 20px;
  }
}
.must__image-block {
  /* border-radius: 12px; */
  margin-bottom: 12px;

  @media (min-width: 1220px) {
    margin-bottom: 16px;
    /* max-height: 324px;
    height: 100%; */
  }
  @media (min-width: 1920px) {
    margin-bottom: 20px;
    /* max-height: 404px;
    height: 100%; */
  }
}
.must__picture {
  border-radius: 12px;
  width: 207px;
  height: 235px;
  object-fit: cover;
  max-width: 253px;

  @media (min-width: 1010px) {
    width: 100%;
    height: 100%;
    aspect-ratio: 253 / 324;
  }
  @media (min-width: 1920px) {
    width: 100%;
    height: 100%;
    max-width: 320px;
    aspect-ratio: 320 / 404;
  }
}
.must__description {
  display: flex;
  justify-content: space-between;
}
.must__icon-length {
  @media (min-width: 1920px) {
  }
}
.must__length {
  display: flex;
  column-gap: 2px;
  padding: 6px 10px 6px 6px;
  outline: 1px solid #262626;
  background: #141414;
  border-radius: 51px;
  align-items: center;

  @media (min-width: 1920px) {
    padding: 6px 10px;
  }
}
.must__text-length {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;

  @media (min-width: 1920px) {
    font-size: 16px;
  }
}
.must__rating-block {
  display: flex;
  padding: 6px 8px;
  align-items: center;
  column-gap: 4px;
  justify-content: space-between;
  border: 1px solid #262626;
  background: #141414;
  border-radius: 51px;

  @media (min-width: 1920px) {
    padding: 6px 10px;
  }
}
.must__stars {
  display: flex;
}
.must__star-rating {
  width: 7px;
  height: 14px;
}
.must__star-rating--rotate {
  transform: rotateY(180deg) translateX(0.5px);
}
.must__value-rating {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;

  @media (min-width: 1920px) {
    font-size: 14px;
  }
}
.must__slider {
  display: flex;
  margin: 0 auto;
  max-width: 80px;
  height: 5px;
  border-radius: 20px;
  background: var(--Black-20, #333);

  @media (min-width: 508px) {
    .must__nav-slider:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: #e50000;
    }
    .must__nav-slider:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: #e50000;
    }
  }
  @media (min-width: 756px) {
    .must__nav-slider:nth-child(3) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: #e50000;
    }
    .must__nav-slider:nth-child(2) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: #e50000;
    }
  }
  @media (min-width: 1000px) {
    .must__nav-slider:nth-child(4) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: #e50000;
    }
    .must__nav-slider:nth-child(3) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: #e50000;
    }
  }
  @media (min-width: 1440px) {
    display: none;
  }
}
.must__nav-slider {
  border-radius: 20px;
  flex-grow: 1;
}
.must__nav-slider:hover {
  cursor: pointer;
  background: #e50000;
}
.must__nav-slider--active {
  background: #e50000;
}

.genres__content {
  @media (min-width: 1220px) {
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (min-width: 1440px) {
    padding: 40px;
    border-radius: 12px;
    outline: 1px solid #262626;
    width: 100%;
    max-width: 1280px;
  }
  @media (min-width: 1920px) {
    padding: 50px;
    border-radius: 12px;
    outline: 1px solid #262626;
    width: 100%;
    max-width: 1920px;
  }
}
.genres__header {
  margin-bottom: 20px;

  @media (min-width: 1156px) {
    flex-basis: 1156px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 1200px;
    flex-grow: 1;
    margin-bottom: 40px;
    gap: 100px;
  }
}
.header-genres__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;

  @media (min-width: 1440px) {
    font-size: 30px;
  }
  @media (min-width: 1920px) {
    font-size: 38px;
  }
}
.header-genres__nav {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    outline: 1px solid #1f1f1f;
    background: #0f0f0f;
  }
}
.nav-genres__previous-button {
  padding: 22px;
  border-radius: 6px;
  outline: 1px solid #1f1f1f;
  background: #1a1a1a;
  background-image: url("../img/icons/arrow_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;

  transition: background 0.3s ease-in-out;
}
.nav-genres__previous-button:hover {
  background: #575050;
  background-image: url("../img/icons/arrow_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  outline: 1px solid #1f1f1f;
}
.nav-genres__selectors {
  display: flex;
  gap: 3px;
  height: 4px;
  max-width: 69px;
  width: 69px;
}
.nav-genres__selector {
  max-width: 14px;
  width: 100%;

  border-radius: 100px;
  background: #333;
}
.nav-genres__selector--active {
  max-width: 18px;
  background: #e50000;
}
.nav-genres__next-button {
  padding: 22px;
  border-radius: 6px;
  outline: 1px solid #1f1f1f;
  background: #1a1a1a;
  background-image: url("../img/icons/arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;

  transition: background 0.3s ease-in-out;
}
.nav-genres__next-button:hover {
  background: #575050;
  background-image: url("../img/icons/arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  outline: 1px solid #1f1f1f;
}
.genres__cards {
  display: flex;
  margin-bottom: 20px;
  gap: 16px;

  @media (min-width: 1220px) {
    gap: 20px;
  }
  @media (min-width: 1920px) {
    gap: 30px;
  }
}
.genres__card {
  padding: 20px;
  border-radius: 10px;
  outline: 1px solid #262626;
  background: #1a1a1a;

  cursor: pointer;

  @media (min-width: 1176px) {
    padding: 24px;
  }
  @media (min-width: 1920px) {
    padding: 30px;
  }
}

.genres__image-block {
  position: relative;
  overflow: hidden;
}
.genres__image-block::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 20%, #1a1a1a 100%)
    center / cover no-repeat;

  transition: all 0.5s ease-in-out;
}
.genres__card:hover .genres__image-block::before {
  transform: translateY(100%);
}
.genres__picture {
  border-radius: 12px;
  aspect-ratio: 141.6 / 140;
  width: 141.6px;
  height: 140px;
  object-fit: cover;

  @media (min-width: 1010px) {
    width: 100%;
    height: 100%;
    aspect-ratio: 176 / 187;
  }
  @media (min-width: 1920px) {
    width: 100%;
    height: 100%;
    aspect-ratio: 216 / 252;
  }
}
.genres__description {
  display: flex;
  justify-content: space-between;
}
.genres__name {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;

  transition: transform 0.3s ease-in-out;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
  @media (min-width: 1920px) {
    font-size: 18px;
  }
}
.genres__button {
  background-image: url("../img/icons/genres_arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 24px;
  height: 24px;

  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  @media (min-width: 1440px) {
    background-size: 24px;
  }
  @media (min-width: 1920px) {
    background-size: 30px;
  }
}
.genres__card:hover .genres__button {
  transform: translateX(-10px) rotateZ(-180deg);
}
.genres__card:hover .genres__name {
  transform: translateX(50%);
}
.genres__slider {
  display: flex;
  margin: 0 auto;
  max-width: 80px;
  height: 5px;
  border-radius: 20px;
  background: var(--Black-20, #333);

  @media (min-width: 508px) {
    .genres__nav-slider:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: #e50000;
    }
    .genres__nav-slider:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: #e50000;
    }
  }
  @media (min-width: 756px) {
    .genres__nav-slider:nth-child(3) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: #e50000;
    }
    .genres__nav-slider:nth-child(2) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: #e50000;
    }
  }
  @media (min-width: 1000px) {
    .genres__nav-slider:nth-child(4) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: #e50000;
    }
    .genres__nav-slider:nth-child(3) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: #e50000;
    }
  }
  @media (min-width: 1440px) {
    display: none;
  }
}
.genres__nav-slider {
  border-radius: 20px;
  flex-grow: 1;
}
.genres__nav-slider:hover {
  cursor: pointer;
  background: #e50000;
}
.genres__nav-slider--active {
  background: #e50000;
}
