@import url("https://fonts.googleapis.com/css?family=Epilogue:400,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap");

@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #091133;
}

h1 {
  line-height: 3;
}

h1 {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
footer {
  min-height: 100px;
  background-color: #893434d4;
  padding-top: 45px;
}
footer h3 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
}
header {
  margin-bottom: 100px;
}
.homework {
  margin-bottom: 100px;
}
.header-menu {
  text-align: center;
}
.header-list-item {
  display: inline-block;
}
.header-list-item:not(nth-last-child) {
  margin-right: 15px;
}
.header-list-item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}

/* HomeWork 0 START */
.homework0-container {
  max-width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
}
.homework0-block {
  margin-bottom: 20px;
}
.homework0-block > div {
  vertical-align: top;
  display: inline-block;
  margin-inline: 5px;
  padding: 5px;
}
.homework0-block2 > div {
  vertical-align: top;
  display: inline-block;
  margin-inline: 5px;
}
.block {
  width: 150px;
  height: 100px;
}
.block-image {
  color: #fff;
  width: 300px;
  height: 300px;
}
.homework0-link {
  color: red;
}
.homework0-link:hover {
  color: rgb(60, 13, 228);
}
.homework0-link2 {
  background-image: url(../img/icon1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.homework0-link2:hover {
  background-image: url(../img/icon2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.homework0-link3 {
  background-image: url(../img/icon1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.homework0-link3:hover ~ .homework0-link4 {
  background-image: url(../img/icon2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.homework0-link5-link:active {
  color: red;
}
.homework0-link6-link {
  color: rgb(13, 0, 190);
}
.homework0-link6-link:visited {
  color: red;
}
.homework0-link7-link {
  color: rgb(13, 0, 190);
}
.homework0-link7-link:focus-visible {
  color: red;
}
.homework0-nth:nth-last-child(1) {
  border: 1px dashed red;
}
.homework0-nth:nth-child(1) {
  background-color: #e08c5c;
}
.homework0-nth:nth-child(even) {
  background-color: #06b4b4;
}
.homework0-nth:nth-child(3) {
  background-color: #a30863;
}
.homework0-nth2 > p {
  height: 100%;
  padding: 5px;
}
.homework0-nth2 > p:nth-of-type(1) {
  background-color: #a30863;
}
.homework0-nth2 > *:not(.not-supported) {
  background-color: #e47900;
}
/* HomeWork 0 END */

/* HomeWork 1 START */
.homework1 {
  background-color: #fff;
}
.homework1-container {
  max-width: 1740px;
  padding-inline: 15px;
  margin: 0 auto;
  font-size: 0;
  padding-block: 106px;
}
.homework1-text-container {
  display: inline-block;
  max-width: 675px;
  margin-right: 141px;
  margin-top: 200px;
}
.homework1-list-container {
  display: inline-block;
  max-width: 889px;
  vertical-align: top;
}
.homework1-text-image {
  margin-bottom: 28px;
}
.homework1-text-title {
  margin-bottom: 20px;
  color: #1e1b39;
  font-size: 88px;
  font-weight: 700;
  line-height: 107.955%;
  letter-spacing: -4px;
}
.homework1-text-description {
  color: #6e6c83;
  font-size: 24px;
  font-weight: 400;
  line-height: 175%;
}
.homework1-list-item:not(:last-child) {
  margin-bottom: 54px;
}
.homework1-item-number {
  display: inline-block;
  width: 218px;
  height: 218px;
  background-color: rgba(74, 58, 255, 0.1);
  border-radius: 50%;
  margin-right: 42px;
  vertical-align: middle;
  text-align: center;
}
.homework1-item-number > span {
  display: inline-block;
  padding-block: 61.5px;
  color: #4a3aff;
  font-size: 88px;
  font-weight: 700;
  line-height: 107.955%;
}
.homework1-item-text {
  display: inline-block;
  max-width: 629px;
  vertical-align: middle;
}
.homework1-item-text *:not(:last-child) {
  margin-bottom: 8px;
}
.homework1-item-date {
  color: #4a3aff;
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
}
.homework1-item-title {
  display: inline-block;
  color: #1e1b39;
  font-size: 42px;
  font-weight: 700;
  line-height: 128.571%;
}
.homework1-item-title ~ img {
  margin-left: 10px;
}
/* .homework1-item-title::after {
  content: "";
  background-image: url("../img/icon1.png");
  width: 43px;
  height: 43px;
  margin-left: 10px;
} */
.homework1-item-description {
  color: #6e6c83;
  font-size: 24px;
  font-weight: 400;
  line-height: 175%;
}
/* HomeWork 1 END */

/* HomeWork 2 START */
.homework2 {
  background-color: #fff;

  font-weight: 700;
  color: #1e1b39;
}
.homework2-container {
  max-width: 1740px;
  padding-inline: 15px;
  margin: 0 auto;
  font-size: 0;

  padding-block: 100px;
}
.homework2-title {
  font-size: 88px;
  line-height: 107.955%;
  margin-bottom: 50px;
}
.homework2-subscribe-item {
  display: inline-block;
  border-radius: 56px;
  padding: 24px 24px 24px 24px;
  background-color: #f0f0f6;
  max-width: 542px;
  width: 100%;
  vertical-align: top;
  margin-bottom: 106px;
}
.homework2-subscribe-item:not(:last-child) {
  margin-right: 39.5px;
}
.homework2-plan-list {
  background-color: #4a3aff;
  color: #fff;
  border-radius: 34px;
  margin-bottom: 34px;
  padding-block: 44.5px;
  padding-inline: 20px;
  max-width: 495px;
}
.homework2-plan-title {
  text-align: center;
  font-size: 30px;
  line-height: 106.667%;
  opacity: 0.9;
  margin-bottom: 2px;
}
.homework2-plan-cost {
  text-align: center;
  font-size: 116px;
  line-height: 103.448%;
  margin-bottom: 6px;
}
.homework2-plan-time {
  text-align: center;
  font-size: 20px;
  line-height: 110%;
  opacity: 0.6;
}
.homework2-benefits-list {
  margin-left: 63px;
  max-width: 482px;
  margin-bottom: 34px;
  text-indent: -50px;
}
.homework2-benefits-item {
  font-size: 28px;
  line-height: 135.714%;
}
.homework2-benefits-item::before {
  vertical-align: text-bottom;
  content: "";
  background-image: url("../img/check_icon.png");
  margin-right: 14px;
  width: 36px;
  height: 36px;
}
.homework2-benefits-item:not(:last-child) {
  margin-bottom: 26px;
}
/* HomeWork 2 END */

/* HomeWork 3 START */
.homework3 {
  background-color: #fdf0e9;

  font-family: "Epilogue";
  color: #391400;
}
.homework3-container {
  max-width: 1200px;
  padding-block: 100px;
  padding-inline: 15px;
  margin: 0 auto;
  font-size: 0;
}
.homework3-article {
  max-width: 970px;
  margin: 0 auto;
}
.homework3-article-container {
  max-width: 570px;
  margin: 0 auto;
}
.homework3-article-header {
  margin-bottom: 68px;
}
.homework3-article-header > * {
  margin-bottom: 20px;
}
.homework3-article-header > :last-child {
  margin-bottom: 0px;
}
.homework3-article-link {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.homework3-article-title {
  font-size: 56px;
  font-weight: 800;
  line-height: 114.286%;
  letter-spacing: -1px;
  margin-bottom: 28px;
}
.homework-article-additional {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: rgba(57, 20, 0, 0.64);
}
.homework3-article-link::before {
  content: "";
  background-image: url("../img/arrow.svg");
  width: 15px;
  height: 10px;
  margin-right: 14px;
}
.homework3-article-link:hover {
  color: rgb(20, 71, 180);
}

.homework3-additional-text {
  display: inline-block;
}
.homework3-additional-text > span:nth-child(2n + 2) {
  color: #391400;
}
.homework-additional-date {
  float: right;
}
.homework-additional-date > span:nth-child(n + 2) {
  color: #391400;
}
.homework3-article-image {
  margin-bottom: 74px;
  border-radius: 6px;
}
.homework3-article-intro {
  margin-bottom: 51px;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: rgba(57, 20, 0, 0.64);
}
.homework3-article-intro > * {
  margin-bottom: 32px;
}
.homework3-article-intro > :last-child {
  margin-bottom: 0px;
}
.homework3-article-main {
  margin-bottom: 58px;
}
.homework3-article-footer {
  height: 1px;
  border-top: 1px solid #f3d1bf;
  width: 100%;
  height: 100%;
  padding-top: 63px;
}

.homework3-article-block > * {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}
.homework3-article-block > *:last-child {
  margin-bottom: 0px;
}
.homework3-article-block:not(:last-child) {
  margin-bottom: 65px;
}
.homework3-block-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
  margin-bottom: 35px;
}
.homework3-block-text {
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 34px;
}
.special {
  color: #391400;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 32px;
}
.homework3-block-list {
  margin-bottom: 32px;
}
.unordered > .homework3-block-item::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ef6d58;
  border-radius: 50%;
  margin-right: 16px;
  vertical-align: middle;
}
.ordered > .homework3-block-item {
  list-style-position: inside;
  list-style-type: decimal;
}

.homework3-block-quote {
  font-size: 20px;
  line-height: 160%;
  margin-top: 69px;
  margin-bottom: 76px;
  padding: 40px 32px 32px 32px;
  background-color: #f9e5da;
  border-radius: 6px;
}
.homework3-quote-text {
  padding-left: 80px;
  text-indent: -80px;
  vertical-align: top;
  display: inline-block;
}
.homework3-quote-text::before {
  content: "";
  background-image: url("../img/quotes.png");
  width: 48px;
  height: 36px;
  margin-right: 32px;
  vertical-align: top;
}
.homework3-article-author {
  display: inline-block;
  vertical-align: middle;
  width: 71.9%;
}
.homework3-article-social {
  display: inline-block;
  vertical-align: middle;
  width: 28.1%;
}
.homework3-author-image {
  display: inline-block;
  margin-right: 24px;
  vertical-align: middle;
  opacity: 0.8;
  border-radius: 50%;
}
.homework3-author-image:hover {
  opacity: 1;
}
.homework3-author-info {
  display: inline-block;
  vertical-align: middle;
  max-width: 250px;
  font-weight: 400;
}
.homework3-author-name {
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 6px;
}
.homework3-author-position {
  color: rgba(57, 20, 0, 0.64);
  font-size: 14px;
  line-height: 171.429%;
}
.homework3-social-item {
  display: inline-block;
  background-color: #ef6d58;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.homework3-social-item:hover {
  background-color: #e7280b;
  box-shadow: 1px 1px 3px #969696;
}
.homework3-social-item:not(:last-child) {
  margin-right: 8px;
}
.homework3-social-link:after {
  content: "";
  width: 48px;
  height: 48px;
}
.facebook-icon {
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-position: center;
}
.twitter-icon {
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-position: center;
}
.linkedin-icon {
  background-image: url("../img/linkedin.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* HomeWork 3 END */

/* HomeWork 4 END */
.homework4 {
  background-color: #fff;
}
.homework4-container {
  max-width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
  font-size: 0;

  padding-block: 100px;
}
.homework4-field {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  /* background-color: #525b8d; */
  background-image: url("../img/game_background.jpg");
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
  /* margin-bottom: 50px; */
}
.homework4-field-line {
  visibility: hidden;
  background-color: rgba(255, 255, 0, 0.9);
  font-size: 16px;
  text-align: center;
  cursor: default;
}
.start {
  visibility: visible;
  margin-left: 30px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);

  font-size: 12px;
  text-align: center;
  padding-block: 15px;
  text-transform: uppercase;
}
.finish {
  width: 50px;
  height: 30px;
  display: block;
  margin-left: 750px;
  margin-top: 0px;
  background-color: rgba(42, 115, 250, 0.9);

  color: #FFF;
    font-size: 12px;
  text-align: center;
  padding-block: 5px;
  text-transform: uppercase;
}
.start:hover ~ .line1 {
  visibility: visible;
}
.line1:hover,
.line1:hover ~ .line2 {
  visibility: visible;
}

.line2:hover,
.line2:hover ~ .line3 {
  visibility: visible;
}

.line3:hover,
.line3:hover ~ .line4 {
  visibility: visible;
}

.line4:hover,
.line4:hover ~ .line5 {
  visibility: visible;
}

.line5:hover,
.line5:hover ~ .line6 {
  visibility: visible;
}

.line6:hover,
.line6:hover ~ .line7 {
  visibility: visible;
}

.line7:hover,
.line7:hover ~ .line8 {
  visibility: visible;
}

.line8:hover,
.line8:hover ~ .line9 {
  visibility: visible;
}

.line9:hover,
.line9:hover ~ .line10 {
  visibility: visible;
}

.line10:hover,
.line10:hover ~ .line11 {
  visibility: visible;
}

.line11:hover,
.line11:hover ~ .line12 {
  visibility: visible;
}

.line12:hover,
.line12:hover ~ .line13 {
  visibility: visible;
}

.line13:hover,
.line13:hover ~ .line14 {
  visibility: visible;
}

.line14:hover,
.line14:hover ~ .line15 {
  visibility: visible;
}

.line15:hover,
.line15:hover ~ .line16 {
  visibility: visible;
}

.line16:hover,
.line16:hover ~ .line17 {
  visibility: visible;
}

.line17:hover,
.line17:hover ~ .line18 {
  visibility: visible;
}

.line18:hover,
.line18:hover ~ .line19 {
  visibility: visible;
}

.line19:hover,
.line19:hover ~ .line20 {
  visibility: visible;
}

.line20:hover,
.line20:hover ~ .finish {
  visibility: visible;
}

.finish:hover,
.finish:hover ~ .homework4-game-message {
  visibility: visible;
}
.line1 {
  margin-left: 30px;
  width: 45px;
  height: 100px;
  padding-block: 40px;
}
.line2 {
  width: 150px;
  height: 35px;
  margin-left: 30px;
  padding-block: 10px;
}
.line3 {
  width: 200px;
  height: 30px;
  margin-left: 180px;
  margin-top: -30px;
  padding-block: 6px;
}
.line4 {
  width: 270px;
  height: 25px;
  margin-left: 380px;
  margin-top: -30px;
  padding-block: 5px;
}
.line5 {
  width: 130px;
  height: 20px;
  margin-left: 650px;
  margin-top: -30px;
  padding-block: 2px;
}
.line6 {
  width: 30px;
  height: 120px;
  display: block;
  margin-left: 750px;
  writing-mode: sideways-lr;
  padding-block: 7px;
}
.line7 {
  width: 20px;
  height: 120px;
  display: block;
  margin-left: 750px;
    writing-mode: sideways-lr;
  padding-block: 2px;
}
.line8 {
  width: 270px;
  height: 40px;
  display: block;
  margin-left: 500px;
  padding-block: 10px;
}
.line9 {
  width: 300px;
  height: 20px;
  display: block;
  margin-left: 200px;
  margin-top: -20px;
  padding-block: 2px;
}
.line10 {
  width: 30px;
  height: 120px;
  display: block;
  margin-left: 200px;

      writing-mode: sideways-lr;
  padding-block: 7px;
}
.line11 {
  width: 190px;
  height: 40px;
  display: block;
  margin-left: 40px;
  padding-block: 10px;
}
.line12 {
  width: 15px;
  height: 25px;
  display: block;
  margin-left: 65px;

  font-size: 12px;
  writing-mode: sideways-lr;
  padding-block: 1px;
}
.line13 {
  width: 230px;
  height: 35px;
  display: block;
  margin-left: 65px;

  padding-block: 10px;
}
.line14 {
  width: 25px;
  height: 170px;
  display: block;
  margin-left: 295px;
  margin-top: -170px;

    writing-mode: sideways-lr;
  padding-block: 5px;
}
.line15 {
  width: 230px;
  height: 20px;
  display: block;
  margin-left: 320px;
  margin-top: -170px;

    padding-block: 1px;
}
.line16 {
  width: 100px;
  height: 15px;
  display: block;
  margin-left: 550px;
  margin-top: -20px;

  padding-block: 2px;
    font-size: 12px;
}
.line17 {
  width: 35px;
  height: 110px;
  display: block;
  margin-left: 650px;
  margin-top: -15px;

  writing-mode: sideways-lr;
  padding-block: 10px;
}
.line18 {
  width: 120px;
  height: 15px;
  display: block;
  margin-left: 650px;
  margin-top: 0px;

    padding-block: 2px;
    font-size: 12px;
}
.line19 {
  width: 15px;
  height: 70px;
  display: block;
  margin-left: 755px;
  margin-top: 0px;

  writing-mode: sideways-lr;
      padding-block: 2px;
    font-size: 12px;
}
.line20 {
  width: 10px;
  height: 75px;
  display: block;
  margin-left: 760px;
  margin-top: 0px;

    writing-mode: sideways-lr;
    font-size: 10px;
}

.homework4-game-message {
  text-align: center;
  margin-top: -150px;
  margin-left: 200px;

  visibility: hidden;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 0, 0.9);
  text-decoration: underline;
  letter-spacing: 5px;
}
/* HomeWork 4 END */
