@import url("https://fonts.googleapis.com/css?family=Epilogue:400,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap");

@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #091133;
}

h1 {
  line-height: 3;
}

h1 {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
footer {
  min-height: 100px;
  background-color: #893434d4;
  padding-top: 45px;
}
footer h3 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
}
header {
  margin-bottom: 100px;
}
.header-menu {
  text-align: center;
}
.header-menu__item {
  display: inline-block;
}
.header-menu__item--margin-right:not(:last-child) {
  margin-right: 15px;
}
.header-menu__item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}
.sticky-nav {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-end: 0px;
  width: 120px;
  background-color: #c5e700;
  z-index: 3;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  margin-right: -80px;
  transition: margin-right 0.5s ease-in-out;
}
.sticky-nav__title {
  writing-mode: sideways-lr;
  padding-inline: 15px;
  padding-block-start: 5px;
}
.sticky-nav__list {
  display: none;
}
.sticky-nav:hover {
  margin-right: -10px;
  padding: 10px;
  font-size: 14px;
}
.sticky-nav:hover .sticky-nav__list {
  display: block;
}
.sticky-nav:hover .sticky-nav__title {
  display: none;
}
.sticky-nav__item--margin-bottom:not(:last-child) {
  margin-bottom: 10px;
}
.sticky-nav__item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}

/* HomeWork 1 START */
.homework1 {
  background-color: #28293e;
  color: #ddd;
}
.homework1-container {
  max-width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
  font-size: 0;
  padding-block: 100px;
}

.hero-container__picture-block {
  max-width: 570px;
  aspect-ratio: 570/602;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.hero-container__content-picture {
  position: absolute;
    inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
}
.hero-container__content-picture::before {
  content: "";
  position: absolute;
  width: calc(370 / 5.7 * 1%);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #32334c;
  inset-block-start: 17.54385964912281%;
  inset-inline-start: 17.54385964912281%;
  z-index: -1;
}
.purple-block {
  position: relative;
  width: calc(246 / 5.7 * 1%);
  cursor: pointer;
}
.purple-block:hover::before,
.purple-block:hover::after {
  background-color: #f7cc47;
}
.purple-block__image {
  position: absolute;
  inset-block-start: 8%;
  inset-inline-start: 8%;
  z-index: 2;
  max-width: 103.6585365853659%;
  max-height: 107.7235772357724%;
}
.purple-block::before {
  content: "";
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #b550f8;
}
.purple-block::after {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 0;
  width: 100%;
  height: calc(182 / 246 * 100%);
  background-color: #b550f8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.hero-container__twisted-arrow-image {
  position: absolute;
  inset-block-start: 56.64451827242525%;
  width: 24.91228070175439%;
}
.orange-block {
  position: absolute;
  inset-block-start: 6.644518272425249%;
  inset-inline-start: 53.33333333333333%;
  content: "";
  width: calc(112 / 5.7 * 1%);
  aspect-ratio: 1;
  background-color: #ef6d58;
  border-radius: 50%;

  cursor: pointer;
}
.orange-block:hover {
  background-color: #eb2c0f;
}

.orange-block__image {
  position: absolute;
  inset-block-start: 25%;
  inset-inline-start: 31.25%;
  max-width: 37.5%;
}
.hero-container__clouds-image {
  position: absolute;
  inset-block-start: 13.2890365448505%;
  inset-inline-end: 0;
  width: 19.64912280701754%;
}
.yellow-block {
  position: absolute;
    inset-block-start: 33.15789473684211%;
  inset-inline-start: 56.84210526315789%;
  width: calc(246 / 5.7 * 1%);
  cursor: pointer;
}
.yellow-block:hover::after,
.yellow-block:hover::before {
  background-color: #b550f8;
}
.yellow-block__image {
  position: absolute;
  inset-block-start: 14.63414634146341%;
  inset-inline-start: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 2;
  max-width: 100%;
}
.yellow-block::before {
  content: "";
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f7cc47;
}
.yellow-block::after {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 0;
  width: 100%;
  height: calc(182 / 246 * 100%);
  background-color: #f7cc47;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.card-block {
  position: absolute;
  inset-block-start: 71.59468438538206%;
  inset-inline-start: 9.824561403508772%;
  width: 37.54385964912281%;
  aspect-ratio: 1.910714285714286;
  background-color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  padding: 18px;
}
.card-block:hover {
  background-color: #ffd900;
}
.card-block:hover .card-block__lines > * {
  background-color: #3a4cec;
}
.card-block:hover .card-block__circle {
  background-color: #ffffff;
}
.card-block__circle {
  position: absolute;
  inset-block-start: 16.07142857142857%;
  inset-inline-start: 8.411214953271028%;
  width: 21.02803738317757%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ef6d58;
}
.card-block__lines {
  position: relative;
  inset-block-start: 11.84210526315789%;
  inset-inline-start: 37.07865168539326%;
  width: 100%;
  height: 100%;
}
.card-block__lines > :nth-child(1) {
  position: absolute;
  width: 52.80898876404494%;
  /* height: 14px; */
  aspect-ratio: 6.714285714285714;
  background-color: #dfe0e9;
  border-radius: 2px;
}
.card-block__lines > :nth-child(2) {
  position: absolute;
  inset-block-start: 39.47368421052632%;
  width: 44.31818181818182%;
  aspect-ratio: 13;
  background-color: #dfe0e9;
  border-radius: 3px;
}
.card-block__lines > :nth-child(3) {
  position: absolute;
  inset-block-start: 55.26315789473684%;
  width: 52.80898876404494%;
  aspect-ratio: 15.66666666666667;
  background-color: #dfe0e9;
  border-radius: 3px;
}
.card-block__lines > :nth-child(4) {
  position: absolute;
  inset-block-start: 76.31578947368421%;
  width: 35.22727272727273%;
  aspect-ratio: 10.33333333333333;
  background-color: #dfe0e9;
  border-radius: 3px;
}
.hero-container__arrow-image {
  position: absolute;
  width: 14.56140350877193%;
  height: 8.471760797342193%;
  inset-block-start: 88.03986710963455%;
  inset-inline-start: 56.14035087719298%;
  transform: rotate(46deg);
}

/* HomeWork 2 START */
.homework2 {
  background-color: #28293e;
  color: #FFF;
  font-family: Epilogue;
}
.homework2-container {
  margin: 0 auto;
  font-size: 0;
  max-width: 1440px;
  padding-block: 100px;
}
.portfolio-block__item {
  position: relative;
  padding: 16px;
  display: inline-block;
  outline: 1px solid #3a3c56;
  width: 33.33%;
}

.portfolio-block__button {
  position: absolute;
  inset-block-start: 72.22222222222222%;
  inset-inline-start: 10.71428571428571%;
  padding-inline: 16px;
  padding-block: 5px 1px;
  background-color: #ffffff;
  border-radius: 19px;
  color: #391400;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  z-index: 2;
  box-shadow: 0px 1px 3px #091133;

  transition: 0.5s background-color, color ease-in-out;
}
.portfolio-block__item:hover .portfolio-block__image-container::after {
  opacity: 0.15;
}
.portfolio-block__button:hover {
  background-color: #189158;
  color: #fff;
}
.portfolio-block__title {
  position: absolute;
  inset-block-start: 82.8125%;
  inset-inline-start: 10.71428571428571%;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  z-index: 2;
}
.portfolio-block__image-container {
  position: relative;
  overflow: hidden;
  max-width: 448px;
  aspect-ratio: 448/576;
}
.portfolio-block__background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-block__image-container::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: #5c2000;
  opacity: 0.3181;
  pointer-events: none;

  transition: 0.5s opacity ease-in-out;
}
/* HomeWork 2 END */
