@import url("https://fonts.googleapis.com/css?family=Epilogue:400,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap");

@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #091133;
}

h1 {
  line-height: 3;
}

h1 {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
footer {
  min-height: 100px;
  background-color: #893434d4;
  padding-top: 45px;
}
footer h3 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
}
header {
  margin-bottom: 100px;
}
.homework {
  margin-bottom: 100px;
}
.header-menu {
  text-align: center;
}
.header-list-item {
  display: inline-block;
}
.header-list-item:not(nth-last-child) {
  margin-right: 15px;
}
.header-list-item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}

/* HomeWork 1 START */
.homework1 {
  background-color: #212222;
  color: #ddd;
}
.homework1-container {
  max-width: 1400px;
  padding-inline: 15px;
  margin: 0 auto;
  font-size: 0;
  padding-block: 100px;
}
.homework1-list-container:not(:last-child) {
  margin-bottom: 100px;
}
.homework1-list-title {
  font-size: 26px;
  text-align: center;
}
.homework1-list-icons {
  font-size: 24px;
  font-weight: 400;
  line-height: 175%;
  font-size: 0;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
}
.homework1-list-icons:not(:last-child) {
  margin-right: 100px;
  width: 800px;
}
.homework1-list-icon:not(:last-child) {
  margin-bottom: 15px;
}
.homework1-list-icon {
  line-height: 4;
}
.homework1-list-icon > * {
  margin-right: 15px;
}
.homework1-icon-number {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-align: center;
}
.homework1-icon-image {
  vertical-align: middle;
}
.homework1-icon-description {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.fix {
  width: 40%;
}

.homework1-icon-container {
  display: inline-block;
  width: 200px;
  text-align: center;
}
.homework1-icon-container2 {
  display: inline-block;
  width: 200px;

  text-align: center;
}
.homework1-icon-link {
  width: 80px;
  height: 80px;
  padding-block: 20px;

  text-align: center;
}
.samples1-icon {
  width: 178px;
  height: 80px;
  margin-right: 0;
}
.samples1-link {
  width: 170px;
  padding: 0;
}
.samples2-link {
  background-color: #ef6d58;
  border-radius: 50%;
}
.samples2-icon {
  width: 40px;
  height: 40px;
  margin-right: 0;
}
.samples2-link:hover {
  background-color: #2a67da;
  box-shadow: 2px 2px 2px #020f14;
}
.samples3-container {
  background-color: #ef6d58;
  border-radius: 50%;
}
.samples3-link {
  border-radius: 50%;
  outline: 1px solid #ffffff;
  width: 80px;
  height: 80px;
}
.samples3-link:hover {
  outline: 2px dashed #e42e12;
}
.samples3-icon {
  width: 40px;
  height: 40px;
  margin-right: 0;
}
.samples4-link {
  background-color: #ef6d58;
  border-radius: 50%;
}
.samples4-link:hover {
  background-color: #0cc798;
}
/* .present-container {
  background-image: url("../img/icons/star_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  padding-block: 24px;
} */

.play-icon {
  height: 40px;
  margin-right: 0;
}
.present-icon {
  width: 30px;
  height: 30px;
  margin-right: 0;
}

.homework1-list-logos {
  font-weight: 400;
  line-height: 175%;
  font-size: 0;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
}
.homework1-list-logos:not(:last-child) {
  margin-right: 100px;
  width: 800px;
}

.homework1-list-logo {
  font-size: 0;
}
.homework1-list-logo > :not(:last-child) {
  margin-right: 15px;
}
.homework1-list-logo:not(:last-child) {
  margin-bottom: 15px;
}
.homework1-logo-number {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 4;
  text-align: center;
}
.homework1-logo-image {
  vertical-align: middle;
}
.homework1-logo-description {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.homework1-logo-container {
  display: inline-block;
  width: 200px;
  font-size: 20px;
  line-height: 4;
  vertical-align: middle;
  text-align: center;
}
.logo-container {
  background-color: #fdf0e9;
}

.homework1-list-pictures {
  font-weight: 400;
  line-height: 175%;
  font-size: 0;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
}
.homework1-list-pictures:not(:last-child) {
  margin-right: 100px;
  width: 800px;
}

.homework1-list-picture {
  font-size: 0;
}
.homework1-list-picture > :not(:last-child) {
  margin-right: 15px;
}
.homework1-list-picture:not(:last-child) {
  margin-bottom: 15px;
}
.homework1-picture-number {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 4;
  text-align: center;
}
.homework1-picture-image {
  vertical-align: middle;
}
.logo-image {
}
.homework1-picture-description {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.homework1-picture-container {
  display: inline-block;
  width: 200px;
  font-size: 20px;
  line-height: 4;
  vertical-align: middle;
  height: 150px;
}
.homework1-picture-image {
  width: 100%;
}
/* .homework1-list-picture:nth-child(1) > .homework1-picture-container::after {
  content: "";
  background-image: image-set(
    url("../img/images/header_image.webp") 1x,
    url("../img/images/header_image_2x.webp") 2x,
    url("../img/images/header_image_3x.webp") 3x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.homework1-list-picture:nth-child(2) > .homework1-picture-container::after {
  content: "";
  background-image: image-set(
    url("../img/images/player_background.webp") 1x,
    url("../img/images/player_background_2x.webp") 2x,
    url("../img/images/player_background_3x.webp") 3x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.homework1-list-picture:nth-child(3) > .homework1-picture-container::after {
  content: "";
  background-image: image-set(
    url("../img/images/bottom_image.png") 1x,
    url("../img/images/bottom_image_2x.png") 2x,
    url("../img/images/bottom_image_3x.png") 3x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
} */
/* HomeWork 1 END */
