@import url("https://fonts.googleapis.com/css?family=Epilogue:400,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:400,600&display=swap");

@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #091133;
  overflow-x: hidden;
}

h1 {
  line-height: 3;
}

h1 {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
footer {
  min-height: 100px;
  background-color: #893434d4;
  padding-top: 45px;
}
footer h3 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
}
header {
  margin-bottom: 100px;
}
.header-menu {
  text-align: center;
}
.header-menu__item {
  display: inline-block;
}
.header-menu__item--margin-right:not(:last-child) {
  margin-right: 15px;
}
.header-menu__item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}
.sticky-nav {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-end: 0px;
  width: 120px;
  background-color: #c5e700;
  z-index: 3;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  margin-right: -80px;
  transition: margin-right 0.5s ease-in-out;
}
.sticky-nav__title {
  writing-mode: sideways-lr;
  padding-inline: 15px;
  padding-block-start: 5px;
}
.sticky-nav__list {
  display: none;
}
.sticky-nav:hover {
  margin-right: -10px;
  padding: 10px;
  font-size: 14px;
}
.sticky-nav:hover .sticky-nav__list {
  display: block;
}
.sticky-nav:hover .sticky-nav__title {
  display: none;
}
.sticky-nav__item--margin-bottom:not(:last-child) {
  margin-bottom: 10px;
}
.sticky-nav__item:hover > a {
  color: rgb(6, 49, 167);
  text-decoration: underline dotted 3px;
  text-underline-offset: 6px;
}

/* HomeWork 1 START */
.homework {
  padding-top: 92px;
  background-color: #fff;
}

.personal {
  margin-bottom: 132px;
  color: #ddd;
}
[class*="__container"] {
  max-width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
}
.personal__content {
  max-width: 560px;
  margin: 0 auto;
}
.personal__header {
  color: #87909d;
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 133.333%; /* 133.333% */

  margin-bottom: 50px;
}
.personal__form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #fff;

  color: #697484;
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 133.333%;
}
.personal__form > input {
  width: 100%;

  outline: none;
  padding-bottom: 13px;
  border-bottom: 1.5px solid #e6e8eb;

  transition: border 0.3s ease-in-out;
}
.personal__form > *:focus-visible {
  outline: none;
  border-bottom: 1.5px solid #a53dff;
}
.form-personal__budget {
  max-width: 200px;
}
.form-personal__subject {
  max-width: 336px;
}
.form-personal__message {
  resize: vertical;
  border-bottom: 1.5px solid #e6e8eb;
  margin-bottom: 50px;
  min-height: 48px;
}
.form-personal__button {
  display: flex;
  padding: 12px 24px;
  border-radius: 4px;
  align-items: center;
  column-gap: 12px;

  color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  background-color: #a53dff;

  transition: background-color 0.3s ease-in-out;
}
.form-personal__button::after {
  content: "";
  background-image: url("/img/icons/arrow.svg");
  width: 20px;
  height: 20px;
}
.form-personal__button:hover {
  background-color: #8431cc;
}

.dark {
  background-color: #141414;
  padding-block: 50px;
}
.dark__content {
  margin: 0 auto;
    max-width: 800px;
}
.dark__form {
  display: flex;
  column-gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;

  border-radius: 10px;
  color: #999;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  background-color: #0f0f0f;
  padding: 40px;
  outline: 1px solid #262626;
}
.dark__form > label > * {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.dark__form > label > input:focus-visible,
.dark__form > label > textarea:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
}
.dark__form > label {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.dark__form > label:not(.form-dark__label-message) {
  flex: 1 1 350px;
}
.form-dark__label-message {
  flex-basis: 100%;
}
.form-dark__message {
  resize: vertical;
  min-height: 129px;
}
.dark__form > label > *:not(.form-dark__virtual-checkbox) {
  border-radius: 6px;
  padding: 16px;
  background-color: #141414;
  margin-top: 12px;
}
.form-dark__label-checkbox {
  display: flex;
  align-self: center;
  align-items: center;
  flex-flow: row-reverse;
  justify-content: flex-end;
  gap: 8px;
  max-width: max-content;
}
.form-dark__checkbox {
  visibility: hidden;
  width: 0;
  height: 0;
}
.form-dark__checkbox:checked ~ .form-dark__virtual-checkbox {
  background-color: #10a502;
  border: none;
}
.form-dark__virtual-checkbox {
  border-radius: 4px;
  border: 1px solid #262626;
  min-width: 24px;
  min-height: 24px;
  max-height: 24px;

  transition: all 0.3s ease-in-out;
}

.form-dark__button {
  padding: 14px 20px;
  border-radius: 6px;
  background-color: #e50000;

  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  transition: background-color 0.3s ease-in-out;
}
.form-dark__button:hover {
  background-color: #008020;
}
